.todo-container {
    background-color: rgb(253, 250, 255);
    height: 160px;
    width: 180px;
    border: 1px rgb(201, 200, 197) dotted;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 20px 0;
}

.todo-mission{
/*     padding: 90px; */
}

.button-set {
    border:none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    border-radius: 10px;
    gap: 20px;
}

.button {
    border:none;
    width: 50%;
    height: 30px;
    border-radius: 8px;
    cursor: pointer;
}

.del-btn {
    border: 1px red dotted;
}

.doit-btn {
    border: 1px blue dotted;
}

.del-btn:hover{
    background-color : rgb(247, 192, 213);
    color : white;
    transition : 0.1s;
  }

.doit-btn:hover {
    background-color : rgb(126, 212, 191);
    color : white;
    transition : 0.1s;
  }
